[submodule "nfft"]
	path = nfft
	url = git@github.com:jakevdp/nfft.git
	branch = master
[submodule "wavelets/kPyWavelet"]
	path = wavelets/kPyWavelet
	url = git@github.com:wafels/kPyWavelet.git
	branch = master
[submodule "wavelets/pycwt"]
	path = wavelets/pycwt
	url = git@github.com:gmweir/pycwt.git
	branch = master
[submodule "multitaper"]
	path = multitaper
	url = git@github.com:gmweir/multitaper.git
